<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="ConsoleApp">
   <components>
      <component type="ConsoleApp.Core,ConsoleApp"   service="ConsoleApp.Core,ConsoleApp" instance-scope="SingleInstance" />
   </components>
    <modules>
      <module type="CalculateServiceProvider.ModuleIdentify, CalculateServiceProvider" />
      <module type="NotifyServiceProvider.ModuleIdentify, NotifyServiceProvider" />
    </modules>
  </autofac>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\;.\plugins" />
    </assemblyBinding>
  </runtime>
</configuration>