<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frameworkTools" type="Newegg.Framework.Tools.Configuration.FrameworkConfiguration, Newegg.Framework.Tools" />
    <section name="frameworkAPISdk" type="Newegg.FrameworkAPI.SDK.SdkConfiguration, Newegg.FrameworkAPI.SDK" />
  </configSections>
  <frameworkTools>
    <!--
      logProvider: Text / Debug / Other (must implement ILogEmitter)
	  You can set provider to Other, and set emitter="Newegg.FrameworkAPI.SDK.Log.APILogEmitter,Newegg.FrameworkAPI.SDK"
	  to use log api
    -->
    <logSetting logProvider="Text" logFolder="Logs" emitter="" />
  </frameworkTools>
  <frameworkAPISdk>
    <!--Change API Uri to right address for different env-->
    <frameworkAPI uri="http://10.16.75.24:3000/framework/v1" />
    <!--GQC
    	<frameworkAPI uri="http://10.1.24.130:3000/framework/v1"/>
    -->
    <!--PRD
    	<frameworkAPI uri="http://apis.newegg.org/framework/v1"/>
    -->
    <!--Change log global and local region to right config-->
    <logConfig logGlobal="NeweggCentral" logLocal="UIPortal" />
  </frameworkAPISdk>
</configuration>