<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frameworkTools" type="Newegg.Framework.Tools.Configuration.FrameworkConfiguration, Newegg.Framework.Tools" />
    <section name="frameworkAPISdk" type="Newegg.FrameworkAPI.SDK.SdkConfiguration, Newegg.FrameworkAPI.SDK" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <frameworkTools>
    <!--
      logProvider: Text / Debug / Other (must implement ILogEmitter)
	  You can set provider to Other, and set emitter="Newegg.FrameworkAPI.SDK.Log.APILogEmitter,Newegg.FrameworkAPI.SDK"
	  to use log api
    -->
    <logSetting logProvider="Text" logFolder="Logs" emitter="" />
  </frameworkTools>
  <frameworkAPISdk>
    <!--Change API Uri to right address for different env-->
    <frameworkAPI uri="http://10.16.75.24:3000/framework/v1" />
    <!--GQC
    	<frameworkAPI uri="http://10.1.24.130:3000/framework/v1"/>
    -->
    <!--PRD
    	<frameworkAPI uri="http://apis.newegg.org/framework/v1"/>
    -->
    <!--Change log global and local region to right config-->
    <logConfig logGlobal="NeweggCentral" logLocal="UIPortal" />
  </frameworkAPISdk>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>