<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newegg_FrameworkAPISDK" version="1.2.2" targetFramework="net45" />
  <package id="Newegg_FrameworkTools" version="1.0.1" targetFramework="net45" />
  <package id="Newegg_RestAPIClient" version="1.1.0" targetFramework="net45" />
</packages>